.DeleteTodosButton {
    box-shadow: 0px 5px 25px rgba(125, 97, 250, 0.5);
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position:absolute;
    bottom: 24px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .DeleteTodosButton:hover {
    transform: rotate(224deg);
    color: red;
  }