body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #83b7d1;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}